Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-controller, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-controller: any of: TAG
  post-ingress-nginx-nginx: any of: images/nginx/.*
  post-ingress-nginx-nginx-1-25: any of: images/nginx-1.25/.*
  post-ingress-nginx-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-test-runner: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-cfssl: any of: images/cfssl/.*
  post-ingress-nginx-e2e-test-echo: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-fastcgi-helloserver: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-httpbun: any of: images/httpbun/.*
  post-ingress-nginx-kube-webhook-certgen: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-custom-error-pages: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

spelling for tests
  internal/ingress/annotations/parser/validators_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

CI: Grant checks write permissions to E2E Test Report. (#11885)
  .github/workflows/junit-reports.yaml
Due: none

CI: Grant checks write permissions to E2E Test Report. (#11884)
  .github/workflows/junit-reports.yaml
Due: none

Chart: Add tests for `PrometheusRule` & `ServiceMonitor`. (#11883)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Add tests for `PrometheusRule` & `ServiceMonitor`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Add `controller.metrics.prometheusRule.annotations`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Remove unnecessary if from lua scripts
  rootfs/etc/nginx/lua/nginx/ngx_srv_redirect.lua
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pre-ingress-nginx-lua-test

Annotations: Allow commas in URLs. (#11886)
  internal/ingress/annotations/parser/validators.go
  internal/ingress/annotations/parser/validators_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Add `controller.metrics.prometheusRule.annotations`. (#11849)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Annotations: Allow commas in URLs. (#11887)
  internal/ingress/annotations/parser/validators.go
  internal/ingress/annotations/parser/validators_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Add tests for `PrometheusRule` & `ServiceMonitor`. (#11888)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Add tests for `PrometheusRule` & `ServiceMonitor`. (#11889)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-prometheusrule.yaml
  charts/ingress-nginx/tests/controller-prometheusrule_test.yaml
  charts/ingress-nginx/tests/controller-servicemonitor_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update endpointslices.go
  internal/ingress/controller/endpointslices.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add delay in endpointslices.go
  internal/ingress/controller/endpointslices.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.20.0 to 2.20.2 elsewhere
  build/run-in-docker.sh
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github/codeql-action from 3.26.5 to 3.26.6 in the all group (#11908)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github/codeql-action from 3.26.5 to 3.26.6 in the all group (#11905)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump github.com/prometheus/common from 0.55.0 to 0.57.0 (#11909)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/common from 0.55.0 to 0.57.0 (#11906)
  go.mod
  go.sum
Due: none

Bump google.golang.org/grpc from 1.65.0 to 1.66.0 (#11910)
  go.mod
  go.sum
Due: none

Bump google.golang.org/grpc from 1.65.0 to 1.66.0 (#11907)
  go.mod
  go.sum
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.20.1 to 2.20.2 in the all group (#11912)
  build/run-in-docker.sh
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Bump github.com/onsi/ginkgo/v2 from 2.20.1 to 2.20.2 in the all group (#11913)
  build/run-in-docker.sh
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  images/test-runner/Makefile
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: post-ingress-nginx-test-runner, post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Trigger `test-runner` build.
  images/test-runner/TAG
Due: post-ingress-nginx-controller, post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#11916)
  images/test-runner/TAG
Due: post-ingress-nginx-controller, post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#11917)
  images/test-runner/TAG
Due: post-ingress-nginx-controller, post-ingress-nginx-test-runner

Images: Trigger `test-runner` build. (#11918)
  images/test-runner/TAG
Due: post-ingress-nginx-controller, post-ingress-nginx-test-runner

Tests: Bump `e2e-test-runner` to v20240829-2c421762.
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20240829-2c421762. (#11919)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20240829-2c421762. (#11920)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Tests: Bump `e2e-test-runner` to v20240829-2c421762. (#11921)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate
