Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-controller, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-controller: any of: TAG
  post-ingress-nginx-nginx: any of: images/nginx/.*
  post-ingress-nginx-nginx-1-25: any of: images/nginx-1.25/.*
  post-ingress-nginx-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-test-runner: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-cfssl: any of: images/cfssl/.*
  post-ingress-nginx-e2e-test-echo: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-fastcgi-helloserver: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-httpbun: any of: images/httpbun/.*
  post-ingress-nginx-kube-webhook-certgen: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-custom-error-pages: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Chart: Bump Kube Webhook CertGen & OpenTelemetry.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Bump Kube Webhook CertGen & OpenTelemetry. (#11811)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Bump Kube Webhook CertGen & OpenTelemetry. (#11812)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.2 & chart v4.11.2.
  README.md
  changelog/controller-1.11.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.10.4 & chart v4.10.4.
  README.md
  changelog/controller-1.10.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.4.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.2 & chart v4.11.2. (#11814)
  README.md
  changelog/controller-1.11.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.10.4 & chart v4.10.4. (#11815)
  README.md
  changelog/controller-1.10.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.4.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update index.yaml
  index.yaml
Due: none

Release controller v1.11.2/v1.10.4 & chart v4.11.2/v4.10.4.
  README.md
  changelog/controller-1.10.4.md
  changelog/controller-1.11.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.4.md
  charts/ingress-nginx/changelog/helm-chart-4.11.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Release controller v1.11.2/v1.10.4 & chart v4.11.2/v4.10.4. (#11816)
  README.md
  changelog/controller-1.10.4.md
  changelog/controller-1.11.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.4.md
  charts/ingress-nginx/changelog/helm-chart-4.11.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/index.html
  e2e-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Metrics: Remove `ingress_upstream_latency_seconds`.
  docs/user-guide/monitoring.md
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Metrics: Remove `ingress_upstream_latency_seconds`. (#11795)
  docs/user-guide/monitoring.md
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Auto-generate annotation docs
  .github/workflows/ci.yaml
  Makefile
  cmd/annotations/annotations.tmpl
  cmd/annotations/main.go
  docs/user-guide/nginx-configuration/annotations-risk.md
  hack/update-annotation-doc.sh
  hack/verify-annotation-docs.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/parser/main.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Remove 3rd party lua plugin support
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/configmap.go
  rootfs/etc/nginx/lua/plugins.lua
  rootfs/etc/nginx/lua/plugins/README.md
  rootfs/etc/nginx/lua/plugins/hello_world/main.lua
  rootfs/etc/nginx/lua/plugins/hello_world/test/main_test.lua
  rootfs/etc/nginx/lua/test/plugins_test.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/e2e/settings/plugins.go
  test/test-lua.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Auto-generate annotation docs (#11820)
  .github/workflows/ci.yaml
  Makefile
  cmd/annotations/annotations.tmpl
  cmd/annotations/main.go
  docs/user-guide/nginx-configuration/annotations-risk.md
  hack/update-annotation-doc.sh
  hack/verify-annotation-docs.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/parser/main.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Enable security features by default
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/config/config.go
  pkg/flags/flags.go
  test/e2e/admission/admission.go
  test/e2e/annotations/auth.go
  test/e2e/annotations/fromtowwwredirect.go
  test/e2e/annotations/grpc.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/annotations/streamsnippet.go
  test/e2e/framework/exec.go
  test/e2e/framework/framework.go
  test/e2e/ingress/multiple_rules.go
  test/e2e/ingress/pathtype_exact.go
  test/e2e/ingress/pathtype_mixed.go
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
  test/e2e/settings/badannotationvalues.go
  test/e2e/settings/geoip2.go
  test/e2e/settings/proxy_host.go
  test/e2e/settings/server_snippet.go
  test/e2e/settings/validations/validations.go
  test/e2e/wait-for-nginx.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Auto-generate annotation docs (#11831)
  .github/workflows/ci.yaml
  Makefile
  cmd/annotations/annotations.tmpl
  cmd/annotations/main.go
  docs/user-guide/nginx-configuration/annotations-risk.md
  hack/update-annotation-doc.sh
  hack/verify-annotation-docs.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/parser/main.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Bump github/codeql-action from 3.26.0 to 3.26.2 in the all group (#11834)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump k8s.io/component-base from 0.30.3 to 0.31.0 (#11836)
  go.mod
  go.sum
Due: none

Bump dario.cat/mergo from 1.0.0 to 1.0.1 in the all group (#11837)
  go.mod
  go.sum
Due: none

Auto-generate annotation docs (#11835)
  .github/workflows/ci.yaml
  Makefile
  cmd/annotations/annotations.tmpl
  cmd/annotations/main.go
  docs/user-guide/nginx-configuration/annotations-risk.md
  hack/update-annotation-doc.sh
  hack/verify-annotation-docs.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/parser/main.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Bump github/codeql-action from 3.26.0 to 3.26.2 in the all group (#11833)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump sigs.k8s.io/controller-runtime from 0.18.4 to 0.19.0 (#11839)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/client_golang from 1.19.1 to 1.20.1 (#11840)
  go.mod
  go.sum
Due: none

Remove 3rd party lua plugin support (#11821)
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/configmap.go
  rootfs/etc/nginx/lua/plugins.lua
  rootfs/etc/nginx/lua/plugins/README.md
  rootfs/etc/nginx/lua/plugins/hello_world/main.lua
  rootfs/etc/nginx/lua/plugins/hello_world/test/main_test.lua
  rootfs/etc/nginx/lua/test/plugins_test.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/e2e/settings/plugins.go
  test/test-lua.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Bump k8s.io/component-base from 0.30.3 to 0.31.0 (#11841)
  go.mod
  go.sum
Due: none

Bump dario.cat/mergo from 1.0.0 to 1.0.1 in the all group (#11846)
  go.mod
  go.sum
Due: none

Bump sigs.k8s.io/controller-runtime from 0.18.4 to 0.19.0 (#11847)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/client_golang from 1.19.1 to 1.20.1 (#11848)
  go.mod
  go.sum
Due: none

docs: Add deployment for AWS NLB Proxy. (#9565)
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/deploy.yaml
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/kustomization.yaml
Due: none

Enable security features by default (#11819)
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/config/config.go
  pkg/flags/flags.go
  test/e2e/admission/admission.go
  test/e2e/annotations/auth.go
  test/e2e/annotations/fromtowwwredirect.go
  test/e2e/annotations/grpc.go
  test/e2e/annotations/modsecurity/modsecurity.go
  test/e2e/annotations/serversnippet.go
  test/e2e/annotations/snippet.go
  test/e2e/annotations/streamsnippet.go
  test/e2e/framework/exec.go
  test/e2e/framework/framework.go
  test/e2e/ingress/multiple_rules.go
  test/e2e/ingress/pathtype_exact.go
  test/e2e/ingress/pathtype_mixed.go
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
  test/e2e/settings/badannotationvalues.go
  test/e2e/settings/geoip2.go
  test/e2e/settings/proxy_host.go
  test/e2e/settings/server_snippet.go
  test/e2e/settings/validations/validations.go
  test/e2e/wait-for-nginx.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/cli-arguments/index.html
Due: none
