Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-controller, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-controller: any of: TAG
  post-ingress-nginx-nginx: any of: images/nginx/.*
  post-ingress-nginx-nginx-1-25: any of: images/nginx-1.25/.*
  post-ingress-nginx-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-test-runner: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-cfssl: any of: images/cfssl/.*
  post-ingress-nginx-e2e-test-echo: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-fastcgi-helloserver: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-httpbun: any of: images/httpbun/.*
  post-ingress-nginx-kube-webhook-certgen: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-custom-error-pages: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Added native histogram support for histogram metrics
  cmd/dataplane/main.go
  cmd/nginx/main.go
  docs/user-guide/cli-arguments.md
  go.work.sum
  internal/ingress/controller/controller.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
  internal/ingress/metric/main.go
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add custom code handling for temporal redirect
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/redirect/redirect.go
  internal/ingress/annotations/redirect/redirect_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Replace deprecated queue method
  internal/task/queue.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Replace deprecated queue method (#11853)
  internal/task/queue.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add native histogram support for histogram metrics (#9971)
  cmd/dataplane/main.go
  cmd/nginx/main.go
  docs/user-guide/cli-arguments.md
  go.work.sum
  internal/ingress/controller/controller.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/collectors/socket_test.go
  internal/ingress/metric/main.go
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/cli-arguments/index.html
Due: none

Add custom code handling for temporal redirect (#10651)
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  internal/ingress/annotations/redirect/redirect.go
  internal/ingress/annotations/redirect/redirect_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations-risk/index.html
  user-guide/nginx-configuration/annotations/index.html
Due: none

Add internalTrafficPolicy for service object
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/tests/controller-service-internal_test.yaml
  charts/ingress-nginx/tests/controller-service_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

updated README.md
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Remove global-rate-limit feature
  charts/ingress-nginx/tests/controller-configmap_test.yaml
  docs/e2e-tests.md
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  images/nginx-1.25/rootfs/build.sh
  images/nginx/rootfs/build.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/globalratelimit/main.go
  internal/ingress/annotations/globalratelimit/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/lua/global_throttle.lua
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/test/global_throttle_test.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/admission/admission.go
  test/e2e/annotations/globalratelimit.go
  test/e2e/settings/globalratelimit.go
  test/test-lua.sh
Due: post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Revert "docs: Add deployment for AWS NLB Proxy. (#9565)"
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/deploy.yaml
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/kustomization.yaml
Due: none

Revert "docs: Add deployment for AWS NLB Proxy." (#11857)
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/deploy.yaml
  deploy/static/provider/aws/nlb-proxy-with-tls-termination/kustomization.yaml
Due: none

Replace deprecated queue method (#11858)
  internal/task/queue.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Replace deprecated queue method (#11859)
  internal/task/queue.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update maxmind post link about geolite2 license changes
  Changelog.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  docs/user-guide/nginx-configuration/configmap.md
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Add `permissions.checks=write` for test report workflow
  .github/workflows/junit-reports.yaml
Due: none

Remove global-rate-limit feature (#11851)
  charts/ingress-nginx/tests/controller-configmap_test.yaml
  docs/e2e-tests.md
  docs/user-guide/nginx-configuration/annotations-risk.md
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  images/nginx-1.25/rootfs/build.sh
  images/nginx/rootfs/build.sh
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/globalratelimit/main.go
  internal/ingress/annotations/globalratelimit/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/lua/global_throttle.lua
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/test/global_throttle_test.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/admission/admission.go
  test/e2e/annotations/globalratelimit.go
  test/e2e/settings/globalratelimit.go
  test/test-lua.sh
Due: post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  e2e-tests/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations-risk/index.html
  user-guide/nginx-configuration/annotations/index.html
  user-guide/nginx-configuration/configmap/index.html
Due: none

Update maxmind post link about geolite2 license changes (#11861)
  Changelog.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  docs/user-guide/nginx-configuration/configmap.md
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/cli-arguments/index.html
  user-guide/nginx-configuration/configmap/index.html
Due: none

Rebase over main
  rootfs/etc/nginx/lua/nginx/ngx_conf_log_block.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_body_filter.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_hdr_filter.lua
  rootfs/etc/nginx/lua/ngx_conf_init.lua
  rootfs/etc/nginx/lua/ngx_conf_init_worker.lua
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

Remove inline lua script from template
  .github/workflows/ci.yaml
  hack/verify-lualint.sh
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_certificate.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_configuration.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_content_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_init_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_is_dynamic_lb_initialized.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log_block.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_rewrite_auth.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_body_filter.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_hdr_filter.lua
  rootfs/etc/nginx/lua/nginx/ngx_not_found.lua
  rootfs/etc/nginx/lua/nginx/ngx_srv_redirect.lua
  rootfs/etc/nginx/lua/ngx_conf_init.lua
  rootfs/etc/nginx/lua/ngx_conf_init_stream.lua
  rootfs/etc/nginx/lua/ngx_conf_init_worker.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/lua/dynamic_configuration.go
  test/e2e/settings/ocsp/ocsp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Start moving configs to file
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Template init lua cfg and fix configs
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/nginx/ngx_rewrite.lua
  rootfs/etc/nginx/lua/ngx_conf_init.lua
  rootfs/etc/nginx/lua/ngx_conf_init_stream.lua
  rootfs/etc/nginx/lua/ngx_conf_init_worker.lua
  rootfs/etc/nginx/lua/util.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/lua/dynamic_configuration.go
  test/e2e/settings/no_tls_redirect_locations.go
  test/e2e/settings/tls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Add helm values.schema.json
  .github/workflows/ci.yaml
  MANUAL_RELEASE.md
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.schema.json
  charts/ingress-nginx/values.yaml
  test/e2e-image/namespace-overlays/admission/values.yaml
  test/e2e-image/namespace-overlays/forwarded-port-headers/values.yaml
  test/e2e-image/namespace-overlays/namespace-selector/values.yaml
  test/e2e-image/namespace-overlays/validations/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

feat: add --metrics-per-undefined-host to report metrics for hosts not defined in ingresses
  cmd/dataplane/main.go
  cmd/nginx/main.go
  docs/user-guide/cli-arguments.md
  docs/user-guide/monitoring.md
  internal/ingress/controller/controller.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/main.go
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add tests
  internal/ingress/metric/collectors/socket_test.go
  pkg/flags/flags_test.go
  test/e2e/metrics/metrics.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

fix misspelling
  internal/ingress/metric/collectors/socket.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

GitHub: Align Kubernetes version matrix.
  .github/workflows/images.yaml
Due: none

Flags: Update `enable-annotation-validation` docs.
  pkg/flags/flags.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Chart: Fix `controller.enableAnnotationValidations`.
  charts/ingress-nginx/templates/_params.tpl
  test/e2e/wait-for-nginx.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Docs: Fix `allow-cross-namespace-resources` default value.
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: Fix `annotations-risk-level` default value.
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Docs: Fix `strict-validate-path-type` default value.
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Chart: Do not render disabled `controller.allowSnippetAnnotations`.
  charts/ingress-nginx/templates/controller-configmap.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Docs: Remove `allow-snippet-annotations` hint.
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Tests: Use `framework.AllowSnippetConfiguration`.
  test/e2e/settings/validations/validations.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test
