Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-controller, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-controller: any of: TAG
  post-ingress-nginx-nginx: any of: images/nginx/.*
  post-ingress-nginx-nginx-1-25: any of: images/nginx-1.25/.*
  post-ingress-nginx-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-test-runner: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-cfssl: any of: images/cfssl/.*
  post-ingress-nginx-e2e-test-echo: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-fastcgi-helloserver: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-httpbun: any of: images/httpbun/.*
  post-ingress-nginx-kube-webhook-certgen: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-custom-error-pages: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Add CustomHTTPErrors directive (#11699)
  internal/ingress/controller/template/crossplane/http.go
  internal/ingress/controller/template/crossplane/testdata/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add upstream directives and some others (#11681)
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/http.go
  internal/ingress/controller/template/crossplane/testdata/nginx.tmpl
  internal/ingress/controller/template/crossplane/utils.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Fix move nested if statement (#11688)
  internal/ingress/controller/template/crossplane/http.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add brotli module parser (#11690)
  internal/ingress/controller/template/crossplane/config.go
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/extramodules/README.md
  internal/ingress/controller/template/crossplane/extramodules/analyze.go
  internal/ingress/controller/template/crossplane/extramodules/brotli.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Bootstrap initial crossplane work (#11653)
  go.mod
  go.sum
  internal/ingress/controller/template/crossplane/http.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Continue crossplane migration
  go.mod
  go.sum
  go.work.sum
  internal/ingress/controller/template/crossplane/config.go
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/testdata/nginx-new-orig.tmpl
  internal/ingress/controller/template/crossplane/testdata/nginx-new.tmpl
  internal/ingress/controller/template/crossplane/utils.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

fix `ipallowlist` parser not handling `validation` type errors
  internal/ingress/annotations/annotations_test.go
  internal/ingress/annotations/ipallowlist/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Go: Bump to v1.22.7.
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-opentelemetry, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages

Go: Bump to v1.22.7. (#11943)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-opentelemetry, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages

Go: Bump to v1.22.7. (#11970)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-opentelemetry, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages

Go: Bump to v1.22.7. (#11969)
  GOLANG_VERSION
  go.mod
  go.work
  images/custom-error-pages/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.mod
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/go.mod
  magefiles/go.mod
Due: post-ingress-nginx-opentelemetry, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages

Chart: Improve default backend service account.
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Improve default backend service account. (#11972)
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Improve default backend service account. (#11974)
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Improve default backend service account. (#11973)
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Remove Pod Security Policy.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deamonset-psp-values.yaml
  charts/ingress-nginx/ci/deamonset-webhook-and-psp-values.yaml
  charts/ingress-nginx/ci/deployment-psp-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-and-psp-values.yaml
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/psp.yaml
  charts/ingress-nginx/templates/controller-psp.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/default-backend-psp.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/values.yaml
  docs/examples/psp/README.md
  docs/examples/psp/psp.yaml
  docs/troubleshooting.md
  magefiles/utils/helm.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Remove Pod Security Policy. (#11971)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deamonset-psp-values.yaml
  charts/ingress-nginx/ci/deamonset-webhook-and-psp-values.yaml
  charts/ingress-nginx/ci/deployment-psp-values.yaml
  charts/ingress-nginx/ci/deployment-webhook-and-psp-values.yaml
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/psp.yaml
  charts/ingress-nginx/templates/controller-psp.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/default-backend-psp.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/values.yaml
  docs/examples/psp/README.md
  docs/examples/psp/psp.yaml
  docs/troubleshooting.md
  magefiles/utils/helm.go
  mkdocs.yml
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Bump github/codeql-action from 3.26.6 to 3.26.7 in the all group (#11978)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump the all group with 2 updates (#11979)
  go.mod
  go.sum
Due: none

Bump github/codeql-action from 3.26.6 to 3.26.7 in the all group (#11980)
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

Bump the all group with 2 updates (#11981)
  go.mod
  go.sum
Due: none

feat: add namespace to nginx_ingress_controller_ssl_expire_time_seconds metric
  internal/ingress/metric/collectors/controller.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Metrics: Add namespace to `nginx_ingress_controller_ssl_expire_time_seconds`.
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Metrics: Fix namespace in `nginx_ingress_controller_ssl_expire_time_seconds`. (#10274)
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Metrics: Fix namespace in `nginx_ingress_controller_ssl_expire_time_seconds`. (#11986)
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Metrics: Fix namespace in `nginx_ingress_controller_ssl_expire_time_seconds`. (#11985)
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add wildcard hostname support for SSL passthrough
  pkg/tcpproxy/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Align default backend `PodDisruptionBudget`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/default-backend-poddisruptionbudget_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Align default backend `PodDisruptionBudget`. (#11993)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/tests/default-backend-poddisruptionbudget_test.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Test `controller.minAvailable` & `controller.maxUnavailable`.
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Chart: Test `controller.minAvailable` & `controller.maxUnavailable`. (#12000)
  charts/ingress-nginx/tests/controller-poddisruptionbudget_test.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
