Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-controller, post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl, post-ingress-nginx-e2e-test-echo, post-ingress-nginx-fastcgi-helloserver, post-ingress-nginx-httpbun, post-ingress-nginx-kube-webhook-certgen, post-ingress-nginx-custom-error-pages, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

Path conditions:
  post-ingress-nginx-controller: any of: TAG
  post-ingress-nginx-nginx: any of: images/nginx/.*
  post-ingress-nginx-nginx-1-25: any of: images/nginx-1.25/.*
  post-ingress-nginx-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-test-runner: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-cfssl: any of: images/cfssl/.*
  post-ingress-nginx-e2e-test-echo: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-fastcgi-helloserver: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-httpbun: any of: images/httpbun/.*
  post-ingress-nginx-kube-webhook-certgen: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-custom-error-pages: any of: images/custom-error-pages/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
  pre-ingress-nginx-boilerplate: any of: \.(go|sh)$
  pre-ingress-nginx-codegen: any of: \.go$
  pre-ingress-nginx-lua-test: any of: \.lua$

Docs: Convert `opentelemetry.md` from CRLF to LF.
  docs/user-guide/third-party-addons/opentelemetry.md
Due: none

CI: Rename `helm` to `chart`.
  .github/workflows/ci.yaml
Due: none

Images: Use latest Alpine 3.20 everywhere. (#11946)
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  images/test-runner/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-nginx, post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, post-ingress-nginx-test-runner, post-ingress-nginx-cfssl

added watched-ns flag related note
  docs/deploy/index.md
Due: none

Docs: Add note about `--watch-namespace`. (#11947)
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Docs: Add note about `--watch-namespace`. (#11948)
  docs/deploy/index.md
Due: none

Docs: Add note about `--watch-namespace`. (#11949)
  docs/deploy/index.md
Due: none

CI: Rework Python.
  .github/workflows/ci.yaml
Due: none

CI: Rework E2E testing.
  .github/workflows/ci.yaml
Due: none

CI: Rework unit testing.
  .github/workflows/ci.yaml
Due: none

CI: Rework docs generation.
  .github/workflows/ci.yaml
  .gitignore
  MANUAL_RELEASE.md
  magefiles/steps/helm.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Chart: Fix CI values names.
  charts/ingress-nginx/ci/controller-custom-ingressclass-flags-values.yaml
  charts/ingress-nginx/ci/daemonset-extra-modules-values.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-default-container-sec-context-values.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-specific-container-sec-context-values.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

CI: Rework chart testing.
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Rework cluster creation.
  .github/workflows/ci.yaml
Due: none

CI: Rework cert-manager installation.
  docs/user-guide/third-party-addons/opentelemetry.md
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

CI: Rework cache loading.
  .github/workflows/ci.yaml
Due: none

CI: Rework chart linting.
  .github/workflows/ci.yaml
  .github/workflows/helm.yaml
Due: none

Images: Bump OpenTelemetry C++ Contrib.
  images/nginx-1.25/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump OpenTelemetry C++ Contrib. (#11629)
  images/nginx-1.25/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump OpenTelemetry C++ Contrib. (#11951)
  images/nginx-1.25/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Images: Bump OpenTelemetry C++ Contrib. (#11950)
  images/nginx-1.25/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-nginx-1-25, post-ingress-nginx-opentelemetry, pull-ingress-nginx-boilerplate, pre-ingress-nginx-boilerplate

Fix reviews on inline lua
  .github/workflows/ci.yaml
  hack/verify-lualint.sh
  internal/ingress/controller/template/template.go
  rootfs/etc/nginx/lua/nginx/ngx_conf_log_block.lua
  rootfs/etc/nginx/lua/nginx/ngx_not_found.lua
  rootfs/etc/nginx/lua/nginx/ngx_srv_redirect.lua
  rootfs/etc/nginx/lua/util.lua
  rootfs/etc/nginx/template/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

NGINX: Remove inline Lua from template. (#11806)
  .github/workflows/ci.yaml
  hack/verify-lualint.sh
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  rootfs/etc/nginx/lua/lua_ingress.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_balancer_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_certificate.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_configuration.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_content_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_init_tcp_udp.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_is_dynamic_lb_initialized.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_log_block.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_rewrite_auth.lua
  rootfs/etc/nginx/lua/nginx/ngx_conf_srv_hdr_filter.lua
  rootfs/etc/nginx/lua/nginx/ngx_rewrite.lua
  rootfs/etc/nginx/lua/nginx/ngx_srv_redirect.lua
  rootfs/etc/nginx/lua/ngx_conf_init.lua
  rootfs/etc/nginx/lua/ngx_conf_init_stream.lua
  rootfs/etc/nginx/lua/ngx_conf_init_worker.lua
  rootfs/etc/nginx/lua/util.lua
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/fromtowwwredirect.go
  test/e2e/framework/framework.go
  test/e2e/lua/dynamic_configuration.go
  test/e2e/settings/no_tls_redirect_locations.go
  test/e2e/settings/ocsp/ocsp.go
  test/e2e/settings/tls.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen, pre-ingress-nginx-lua-test

[release-1.10] Bump github.com/prometheus/client_golang from 1.20.2 to 1.20.3 in the all group (#11956)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/client_golang from 1.20.2 to 1.20.3 in the all group (#11957)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.26.0 to 0.27.0 (#11958)
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto from 0.26.0 to 0.27.0 (#11959)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/common from 0.57.0 to 0.59.1 (#11961)
  go.mod
  go.sum
Due: none

Bump github.com/prometheus/common from 0.57.0 to 0.59.1 (#11960)
  go.mod
  go.sum
Due: none

Bootstrap initial crossplane work (#11653)
  .golangci.yml
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  internal/ingress/controller/template/crossplane/config.go
  internal/ingress/controller/template/crossplane/crossplane.go
  internal/ingress/controller/template/crossplane/crossplane_internal_test.go
  internal/ingress/controller/template/crossplane/crossplane_internal_utils_test.go
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/events.go
  internal/ingress/controller/template/crossplane/http.go
  internal/ingress/controller/template/crossplane/utils.go
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-kube-webhook-certgen, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

crossplane: Add test to 'proxy_hide_header' directive (#11687)
  internal/ingress/controller/template/crossplane/crossplane_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add tests for tags with custom values (#11686)
  internal/ingress/controller/template/crossplane/crossplane_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add crossplane test and more directives (#11670)
  internal/ingress/controller/template/crossplane/config.go
  internal/ingress/controller/template/crossplane/crossplane.go
  internal/ingress/controller/template/crossplane/crossplane_internal_test.go
  internal/ingress/controller/template/crossplane/crossplane_internal_utils_test.go
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/events.go
  internal/ingress/controller/template/crossplane/http.go
  internal/ingress/controller/template/crossplane/testdata/README.md
  internal/ingress/controller/template/crossplane/testdata/nginx.tmpl
  internal/ingress/controller/template/crossplane/utils.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

crossplane: Add brotli and proxy_hide_header (#11678)
  internal/ingress/controller/template/crossplane/config.go
  internal/ingress/controller/template/crossplane/crossplane_test.go
  internal/ingress/controller/template/crossplane/http.go
  internal/ingress/controller/template/crossplane/testdata/nginx.tmpl
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen

Add 'proxy_pass_header' directive (#11671)
  internal/ingress/controller/template/crossplane/http.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test, pre-ingress-nginx-boilerplate, pre-ingress-nginx-codegen
